<p>Welcome back to your project!</p>

<a href="<%= @link %>">
  Follow this link to sign in
</a>

<p>
  or if you're having trouble with the link, copy and paste this link in your browser
</p>

<p>
  <%== @link %>
</p>
