html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input, textarea {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  resize: none;
  background: none;
  -webkit-appearance: none;
}

input:focus, textarea:focus {
  outline: none;
}

a, label {
  display: block;
}

/* # VARIABLES */
:root {
  /* # TYPOGRAPHY */
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html, body {
  font-family: var(--font-family);
}
